In [75]:
import pandas as pd
import numpy as np
import math
import warnings
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection  import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA

In [82]:
warnings.filterwarnings("ignore")

In [83]:
pwd = 'D:/gitProject/Modeling/breast-cancer-wisconsin.csv'

In [84]:
#读取数据无列名
df1 = pd.read_csv(pwd,
                  header='infer',
                  names=['Sample_code_number',
                         'Clump_Thickness',
                         'Uniformity_of_Cell_Size',
                         'Uniformity_of_Cell_Shape',
                         'Marginal_Adhesion',
                         'Single_Epithelial_Cell_Size',
                         'Bare_Nuclei',
                         'Bland_Chromatin',
                         'Normal_Nucleoli',
                         'Mitoses',
                         'Class'])

In [85]:
#异常值剔除
df1 = df1[df1['Bare_Nuclei'] != '?']

In [86]:
df1 = df1.reset_index()[['Sample_code_number',
                         'Clump_Thickness',
                         'Uniformity_of_Cell_Size',
                         'Uniformity_of_Cell_Shape',
                         'Marginal_Adhesion',
                         'Single_Epithelial_Cell_Size',
                         'Bare_Nuclei',
                         'Bland_Chromatin',
                         'Normal_Nucleoli',
                         'Mitoses',
                         'Class']]

In [87]:
df2 = df1[['Sample_code_number',
                         'Clump_Thickness',
                         'Uniformity_of_Cell_Size',
                         'Uniformity_of_Cell_Shape',
                         'Marginal_Adhesion',
                         'Single_Epithelial_Cell_Size',
                         'Bare_Nuclei',
                         'Bland_Chromatin',
                         'Normal_Nucleoli',
                         'Mitoses']]

In [88]:
df3 = df1[['Class']]

In [89]:
pca = PCA(n_components=2)

In [90]:
df2_2 = pca.fit_transform(df2)     #把原数据df2传入方法，返回降维后的数据，等价于pca.fit(X) pca.transform(X)
#invX = pca.inverse_transform(newX)  #将降维后的数据转换成原始数据

In [91]:
df2_2 = pd.DataFrame(df2_2)

In [92]:
df4 = pd.merge(df2_2, df3, left_index=True, right_index=True)

In [94]:
df4

                 0          1  Class
0    -76695.226936  -4.544864      2
1    -73775.226945   4.750226      2
2    -61295.226936  -4.684520      2
3    -60443.226943   5.056373      2
4    -59697.226937  -4.165903      2
..             ...        ...    ...
678 -300005.226936  -5.214080      2
679 -234951.226935  -6.148468      2
680 -187900.226946  10.122156      4
681 -179249.226944   6.260631      4
682 -179249.226945   7.359937      4

[683 rows x 3 columns]